@import '../../../styles/variables';

.sourceListContainer {
  h4 {
    border-bottom: 1px solid $blue;
  }
}

.sourceList {
  padding: .625rem;

  li {
    padding-bottom: .75rem;
  }

  p {
    margin-top: .625rem;
  }
}

.labelActive {
  padding: .3125rem;
  background-color: $dark-purple;
  color: $white;
  border: 1px solid transparent;

  input {
    display: none;
  } 
}

.labelInactive {
  @extend .labelActive;
  background-color: $white;
  color: $dark-purple;
  border: 1px solid $dark-purple;
}