@import '../../../styles/variables';

.sourceListContainer {
  padding-bottom: 1.25rem;
  width: 100%;

  h4 {
    border-bottom: 1px solid $blue;
    margin-bottom: .625rem;
  }

  &:last-child{
    padding-bottom: 0;
  }

  p {
    margin-bottom: .3125rem;
  }
}

.sourceList {
  padding: .625rem .625rem 0;

  li {
    padding-bottom: 1.5rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  p {
    margin-top: .625rem;
  }
}

.labelActive {
  padding: .3125rem;
  background-color: $dark-purple;
  color: $white;
  border: 1px solid transparent;

  input {
    display: none;
  } 
}

.labelInactive {
  @extend .labelActive;
  background-color: $white;
  color: $dark-purple;
  border: 1px solid $dark-purple;
}