@import '../../styles/variables';

.appOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 100vw;
  height: 100%;
  background-color: $light-blue-gray;
  transition: opacity 150ms ease-in-out;
}

.appOverlayOpen {
  @extend .appOverlay;
  opacity: .9;
  z-index: 1;
}