@import '../../styles/_variables';

.nav-top {
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background 50ms linear, box-shadow 50mss linear;
}

.nav-green {
  background: $green;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-container {
  width: 50px;
  height: 50px;
  object-fit: contain;
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.auth-container {
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -100%;
      left: 0;
      right: 0;
      padding-bottom: 0.875rem;
      border-bottom: 2px solid $light-purple;
      transform: scaleX(0);
      transition: transform 100ms linear;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      transform: scale(1);
    }
  }
}
