@import '../styles/_variables';

.skillContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: none;

    svg {
        height: 1.5rem;
        width: 1.5rem;
        border: none;
    }
}