@import '../../styles/_variables';

.bottomNav {
  width: 100vw;
  height: 3.5rem;
  padding: 0.625rem 1.25rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $green;
  background-color: $white;
  box-shadow: 0 10px 10px 20px rgba(0,0,0,.1);
}
