@import '../../styles/variables';

.questionContainerVisible {
    box-shadow: $box-shadow;
}

.questionContainerHidden {
    @extend .questionContainerVisible;
    display: none;
}

.hintShown {
    display: flex;
}

.hintHidden {
    display: none;
}