@import '../../styles/variables';

#dashboardSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 .625rem;
  align-items: center;

  h1, h2 {
    margin: .625rem 0;
    font-size: 1.5rem;
  }

  .vocabLink {
    margin-bottom: 4rem;

    a {
      padding: 1rem;
      color: $dark-purple;
      border: 2px solid $dark-purple;
    }
  }

  table {
    margin-bottom: 2rem;

    td {
      vertical-align: middle;
      text-align: center;
      padding: .5rem;
    }

    thead {
      tr {
        border-bottom: 1px solid $dark-purple;
      }

      td {
        color: $dark-purple;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $darkest-green;
      }

      td {
        &:first-of-type {
          text-align: left;
        }
      }
    }
  }
}

.articleSection {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;;
}

.MoreButton {
  padding: .625rem 1.25rem;
  padding-right: .625rem;
  border: 2px solid $dark-purple;
  color: $dark-purple;
  background-color: $white;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-family: 'Lato';
  align-self: center;
  display: flex;
  justify-content: space-between;

  svg {
    margin-left: .3125rem;
  }
}

