@import '../../styles/variables';

.vocabPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: .625rem 0;
        font-size: 1.25rem;
        align-self: flex-start;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

.sort {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 1.4;
    align-items: baseline;
    border-bottom: 1px solid $dark-purple;
    border-top: 1px solid $dark-purple;
    cursor: pointer;
    background-color: $white;
    position: relative;

    &:focus,
    &:active,
    &:focus-within {
        outline: 1px solid $dark-purple;
    }

    ::after {
        content: "";
        position: absolute;
        right: 1rem;
        top: 40%;
        width: .8em;
        height: .5em;
        background-color: $dark-purple;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }

    label {
        width: 25%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    select {
        appearance: none;
        background-color: transparent;
        border: none;
        margin: 0;
        width: 75%;
        font-family: inherit;
        cursor: inherit;
        line-height: inherit;
        padding: .5rem;
        color: $darkest-green;
        font-size: 1rem;
        text-align: left;
        outline: none;
    }
}

.vocabTable {
    width: 100%;
    padding: 0 1.25rem;
    font-size: .75rem;
    color: $darkest-blue;
    box-shadow: 0 0 .5rem $blue-gray;

    th {
        color: $darkest-blue;
        background-color: $lighter-blue-gray;
        font-weight: bold;
        border-right: 1px solid $light-blue-gray;
        padding: .25rem;
        border-bottom: 1px solid $darkest-blue;

        &:first-child {
            border-top-left-radius: .25rem;
        }

        &:last-child {
            border-top-right-radius: .25rem;
            border-left: 1px solid $light-blue-gray;
            border-right: none;
        }
    }

    td {
        border-right: 1px solid $light-blue-gray;
        vertical-align: bottom;
        padding: .25rem;

        &:first-child {
            a {
                color: $dark-purple;
                text-decoration: none;
            }
        }

        &:last-child {
            text-align: center;
            border-right: none;
        }
    }

    tr {
        background-color: $light-gray;

        &:nth-child(2n) {
            background-color: $lighter-blue-gray;
        }
    }
}