@import '../../styles/variables';

.defineButtonContainer {
  position: fixed;
  bottom: 3.3rem;
  width: 100%;
  z-index: 100;
  border-top: 2px solid $dark-purple;
  border-bottom: 2px solid $dark-purple;
  background-color: $white;
  opacity: 1;
  transform: translateY(-45vh);
  transition: 150ms ease-in-out transform, 150ms ease-in-out opacity,
    150ms ease-in-out height;
  box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.1),
    0 -2px 2px 2px rgba(0, 0, 0, 0.1);
}

.defineButtonContainerHidden {
  @extend .defineButtonContainer;
  z-index: -10;
  opacity: 0;
  transform: translateY(10rem);
}

.defineButtonContainerClosed {
  @extend .defineButtonContainer;
  transform: translateY(0);
}

.definePhraseButton {
  position: absolute;
  top: -2.5rem;
  left: 25%;
  width: 50%;
  height: 2.5rem;
  padding: 0.3125rem 0.625rem;
  border: 2px solid $dark-purple;
  background-color: $dark-purple;
  color: $white;
  font-size: 1.125rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  letter-spacing: 0.01rem;
  word-spacing: 0.3rem;
  box-shadow: 2px -5px 5px 5px rgba(0, 0, 0, 0.1),
    1px -2px 2px 2px rgba(0, 0, 0, 0.1);
}

.definitionContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  opacity: 0;
  height: 0;
  transform: translateY(2rem);
  transition: 150ms ease-in-out transform, 150ms ease-in-out opacity,
    150ms ease-in-out height;

  em {
    margin-bottom: 1.25rem;
    color: $darkest-blue;
    font-style: italic;
    line-height: 1.4;
  }
}

.definitionContainerOpen {
  @extend .definitionContainer;
  opacity: 1;
  position: fixed;
  bottom: 5.4rem;
  left: 0;
  background-color: $white;
  z-index: 1;
  height: 45vh;
  padding: 1.25rem;
  border-bottom: 2px solid $dark-purple;
}

.grayOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 150ms ease-in-out opacity;
}

.grayOverlayOpen {
  @extend .grayOverlay;
  opacity: 1;
  z-index: 0;
}
