@import '../../styles/variables';

.defContainer {
  position: fixed;
  bottom: 3.3rem;
  width: 100%;
  z-index: 100;
  border-top: 2px solid $dark-purple;
  border-bottom: 2px solid $dark-purple;
  transition: 100ms ease-in-out height;
  background-color: $white;
  opacity: 1;
  transform: translateY(0);
  transition: 150ms ease-in-out transform, 150ms ease-in-out opacity;
}

.defContainerHidden {
  z-index: -10;
  opacity: 0;
  transform: translateY(10rem);
}

.definePhraseButton {
  position: absolute;
  top: -2.5rem;
  left: 25%;
  width: 50%;
  height: 2.5rem;
  padding: 0.3125rem 0.625rem;
  border: 2px solid $dark-purple;
  background-color: $dark-purple;
  color: $white;
  font-size: 1.125rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  letter-spacing: 0.01rem;
  word-spacing: 0.3rem;
}

.definitionContainer {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60vh;
  overflow-y: scroll;

  em {
    margin-bottom: 1.25rem;
    color: $darkest-blue;
    font-style: italic;
    line-height: 1.4;
  }
}

.grayOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  transform: translateY(100%);
  display: none;
  opacity: 0;
  transition: 150ms ease-in-out transform, 150ms ease-in-out opacity;
}

.grayOverlayOpen {
  transform: translateY(0);
  display: block;
  opacity: 1;
}
