@import '../../../styles/variables';

.progressBarContainer {
  width: 100%;
  margin: 1.25rem 0;
  position: relative;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.progressBarLineContainer {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  display: flex;
}

.progressBarLineActive {
  border-top: 3px solid $dark-purple;
  width: 50%;
  height: 100%;
}

.progressBarLineInactive {
  @extend .progressBarLineActive;
  border-top: 3px solid $blue-gray;
}

.progressActive {
  border: 1px solid $dark-purple;
  padding: .3125rem;
  border-radius: .3125rem;
  color: $dark-purple;
  background-color: $white;
}

.progressInactive {
  @extend .progressActive;
  border-color: $blue-gray;
  color: $blue-gray;
  background-color: $white;
}

.progressComplete {
  @extend .progressActive;
  color: $white;
  background-color: $dark-purple;
}


.createAccountSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.currentStep {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-bottom: 1.25rem;
  }

  // &:not(:first-child) {
  //   label {
  //     width: 100%;
  //     display: flex;
  //     flex-direction: column;
  //     margin-bottom: 1.25rem;
  //     align-items: center;
  //   }

  //   select {
  //     width: 50%;
  //     border: 1px solid $dark-purple;
  //     color: $dark-purple;
  //     padding: .3125rem;
  //   }
  // }
}

.createAcctLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  align-items: center;

  select {
    width: 50%;
    border: 1px solid $dark-purple;
    color: $dark-purple;
    padding: .3125rem;
  }
}

.hiddenStep {
  @extend .currentStep;
  display: none;
}

.langChoiceContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.nextButton, .backButton {
  border: 1px solid $dark-purple;
  color: $white;
  background-color: $dark-purple;
  font-size: 1rem;
  padding: .5rem;
  margin: 1.25rem 0;

  &:disabled {
    border: 1px solid $blue-gray;
    background-color: $light-gray;
    color: $blue-gray;
  }
}

.backButton {
  color: $mustard-yellow;
  border: 1px solid $mustard-yellow;
  background-color: $white;
}

.navButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.labelActive {
  margin-right: .3125rem;
  padding: .3125rem;
  background-color: $dark-purple;
  color: $white;
  border: 1px solid transparent;

  input {
    display: none;
  }
}

.labelInactive {
  @extend .labelActive;
  background-color: $white;
  color: $dark-purple;
  border: 1px solid $dark-purple;
}
