@import '../../styles/variables';

.settingsSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  h1, h2 {
    text-align: center;
  }

  h1 {
    margin: 1.25rem 0;
  }

  h4 {
    font-size: 1.25rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

.sectionDiv {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  h4 {
    margin-bottom: .625rem;
  }

  p {
    margin-bottom: .3125rem;
    width: 100%;
  }
}

.labelActive {
  margin-right: .3125rem;
  padding: .3125rem;
  background-color: $dark-purple;
  color: $white;
  border: 1px solid transparent;

  input {
    display: none;
  }
}

.labelInactive {
  @extend .labelActive;
  background-color: $white;
  color: $dark-purple;
  border: 1px solid $dark-purple;
}

.sectionSetting {
  color: $blue;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;

  p {
    font-size: 1rem;
    margin: .3125rem 0;
  }

  select {
    font-size: 1rem;
    padding: .3125rem;
    border: 1px solid $dark-purple;
    color: $dark-purple;
  }
}

.submitButton {
  margin-top: 2rem;
}
