@import '../../styles/variables';

.savingState {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: appearSave 150ms ease-in-out 50ms 1 normal forwards;
    opacity: 0;
    transform: translateX(50%);
}

.savePhraseButton {
    width: 75%;
}

.cancelSaveButton {
    width: 25%;
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top: 10%;
      left: 0;
      height: 80%;
      border-left: 2px solid $white;
    }
}

@keyframes appearSave {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }