@import '../../styles/variables';

#rect22 {
  fill: none;
}

.hero * {
  opacity: 0;

  animation: .5s heroAppear .5s ease-in 1 forwards; 
}

@keyframes heroAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}